$white: #ffffff;

$rich-black: rgb(14, 18, 28);
$vegas-gold:rgb(207, 183, 93);
$independence:rgba(84, 96, 122);
$silver-sand: rgb(198, 200, 204);
$old-lace: rgb(255, 250, 237);
$light-gray:#eeeeee;

$font: 'Open Sans';
$font-2: 'Quattrocento';

$main-bg: $white;
$primary-text-color:$rich-black;
$secondary-text-color: $white;
$primary-border-color: $old-lace;
$card-color: $white;

$basic-border: 1px solid $silver-sand;
//:root {
//  --limegreen: hsl(163, 72%, 41%);
//}
