$white: #ffffff;

$rich-black: rgb(14, 18, 28);
$orange: hsl(26, 100%, 55%);
$pale-orange:hsl(25, 100%, 94%);
$vd-blue:hsl(220, 13%, 13%);
$dg-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$lg-blue: hsl(223, 64%, 98%);
$white: hsl(0,0%,100%);
$black: hsl(0,0%,0%);

$font: 'Kumbh Sans';


$main-bg: $white;
$primary-text-color:$black;

//:root {
//  --limegreen: hsl(163, 72%, 41%);
//}
