@use "../base/variables" as *;
@use "../utils/functions" as *;
@use "../utils/breakpoints" as *;

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: rem(20);
  justify-content: center;
  align-items: center;
  display: none;
  top: 0;
  left: 0;
  background: hsla(0%, 0%, 0%, 70%);
  z-index: 99;

  &.lightbox-visible {
    display: flex;
  }

  .lightbox__content {
    width: 100%;
    max-width: rem(500);
    margin: auto;
    position: relative;
    padding: rem(20);
    @include breakpoint(large) {
      width: 30%;
      min-width: rem(500);
    }

    .lightbox__content-main {
      position: relative;
      text-align: right;

      .lightbox__content-main-close {
        position: relative;
        display: inline-block;

        text-align: right;
        padding: rem(10);
        &:hover{
          #lightbox-close path{
            fill: $orange;
          }
        }
        #lightbox-close path{
          fill: $white;
        }
      }

      ul {
        li {
          display: none;
          opacity: 0;
          transition: all .2s ease-in-out;

          &.active {
            display: block;
            opacity: 1;
          }
        }
      }

      img {
        width: 100%;
        border-radius: rem(15);
      }

      .lightbox__content-nav {
        position: absolute;
        top: 50%;
        width: 100%;

        .nav-prev,
        .nav-next {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          background-color: $white;
          background-repeat: no-repeat;
          background-position: center;
          user-select: none;
          cursor: pointer;
        }

        .nav-prev {
          left: rem(-20);
          background-image: url("../images/icon-previous.svg");

        }

        .nav-next {
          right: rem(-20);
          background-image: url("../images/icon-next.svg");
        }
      }
    }

    .lightbox__content-thumbs {
      padding-top: rem(20);

      ul {
        display: flex;

        li {
          position: relative;
          padding: rem(10);

          a {
            border: rem(2) solid transparent;
          }

          &.selected {
            a {
              display: flex;
              overflow: hidden;
              position: relative;
              border-radius: rem(15);
              border-color: $orange;

              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: hsla(0%, 0%, 100%, 70%);
              }
            }
          }
        }
      }

      img {
        width: 100%;
        border-radius: rem(15);
      }
    }
  }
}
